# Window opacity
background_opacity 0.9

# Colors
dim_foreground #CDD6F4
bright_foreground #CDD6F4

# Vi mode cursor colors
vi_mode_cursor_text_color #1E1E2E
vi_mode_cursor #B4BEFE

# Search matches colors
search_match_foreground #1E1E2E
search_match_background #A6ADC8

# Focused search match colors
search_match_focused_foreground #1E1E2E
search_match_focused_background #A6E3A1

# Footer bar colors
footer_bar_foreground #1E1E2E
footer_bar_background #A6ADC8

# Hints start colors
hints_foreground #1E1E2E
hints_background #F9E2AF

# Hints end colors
hints_end_foreground #1E1E2E
hints_end_background #A6ADC8

# Selection colors
selection_foreground #1E1E2E
selection_background #FFC7ED

# Bright colors
color8  #585B70
color9  #F38BA8
color10 #A6E3A1
color11 #F9E2AF
color12 #89B4FA
color13 #F5C2E7
color14 #94E2D5
color15 #A6ADC8

# Dim colors
dim_color0  #45475A
dim_color1  #F38BA8
dim_color2  #A6E3A1
dim_color3  #F9E2AF
dim_color4  #89B4FA
dim_color5  #F5C2E7
dim_color6  #94E2D5
dim_color7  #BAC2DE

# Indexed colors
color16 #FAB387
color17 #F5E0DC
